<div class="header">
  <div class="container-fluid">
    <div class="row">
      <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
        <a mat-icon-button class="logo" aria-label="logo">
          <img src="https://cdn.squirrel.co.nz/images/logo.sq-new.white.svg" alt="">
        </a>
      </div>

      <div class="" fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">
        <button mat-button class="nav-button" routerLink="/user/add" routerLinkActive="active">
          Add Users
        </button>
        <button mat-button class="nav-button" routerLink="/user/list" routerLinkActive="active">
          View Users
        </button>
      </div>
    </div>
  </div>
</div>
