<div class="footer container-fluid p-4">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <a mat-icon-button class="logo" aria-label="logo">
        <img class="h-100" src="https://cdn.squirrel.co.nz/images/logo.sq-new.orange.svg" alt=""/>
      </a>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <mat-icon>send</mat-icon>
      38 College Hill, Freemans Bay, Auckland, New Zealand 1010.
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <mat-icon>phone</mat-icon>
      0800 21 22 33
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <mat-icon>email</mat-icon>
      money@squirrel.co.nz
    </div>
  </div>
</div>
